hacking>=0.9.2,<0.10

coverage>=3.6,<=3.7.1
discover<=0.4.0
fixtures>=0.3.14,<=1.0.0
mock>=1.0,<=1.0.1
testrepository>=0.0.18,<=0.0.20
testscenarios>=0.4,<=0.4
testtools>=0.9.34,!=1.4.0,<=1.5.0

# doc build requirements
sphinx>=1.1.2,!=1.2.0,<1.3
